<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ADMIN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%-include('../../blocks/sidebar')%>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
                <%-include('../../blocks/navbar')%>
            <!-- Navbar End -->


            


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                
                    
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4"><%=data?'Sửa giảng viên':'Thêm giảng viên'%></h6>
                            <form
                                action="<% if (data) { %>
                                    /admin/giangvien/suagiangvien/<%=data[0].id%>
                                <% }else{ %>
                                    /admin/giangvien/themgiangvien
                                <%}%>"
                                 
                                method="post"
                            >
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Họ và tên đệm</label>
                                    <input type="text" value="<%=data?data[0].hoGV:''%>" name="hoGV" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Tên</label>
                                    <input type="text" value="<%=data?data[0].tenGV:''%>" name="tenGV" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Email</label>
                                    <input type="email" value="<%=data?data[0].emailGV:''%>" name="emailGV" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Bộ Môn</label>
                                    <input type="number" value="<%=data?data[0].idBM:''%>" name="idBM" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Co Huu</label>

                                    <div class="d-flex ">
                                        <div class="form-check me-5">
                                            <input class="form-check-input" type="radio" name="isCoHuu" value="0" id="flexRadioDefault1"
                                                <% if(data){ %>
                                                    <%=data[0].isCoHuu==0?"checked":""%>
                                                <% } %> >
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Không
                                            </label>
                                        </div>
                                        <div class="form-check ms-5">
                                            <input class="form-check-input" type="radio" name="isCoHuu" value="1" id="flexRadioDefault2"
                                                <% if(data){ %>
                                                    <%=data[0].isCoHuu==1?"checked":"" %>
                                                <% } else { %> 
                                                    <%='checked'%>
                                                <%}%>>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Có
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Các Môn Dạy</label>
                                    <input type="text" value="<%=data?data[0].cacMonDay:''%>" name="cacMonDay" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Hình</label>
                                    <input type="text" value="<%=data?data[0].hinhGV:''%>" name="hinhGV" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Không Phân GV2</label>

                                    <div class="d-flex ">
                                        <div class="form-check me-5">
                                            <input class="form-check-input" type="radio" name="khongPhanGV2" value="0" id="flexRadioDefault1"
                                                <% if(data){ %>
                                                    <%=data[0].khongPhanGV2==0?"checked":""%>
                                                <% } %> >
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Không
                                            </label>
                                        </div>
                                        <div class="form-check ms-5">
                                            <input class="form-check-input" type="radio" name="khongPhanGV2" value="1" id="flexRadioDefault2"
                                                <% if(data){ %>
                                                    <%=data[0].khongPhanGV2==1?"checked":"" %>
                                                <% } else { %> 
                                                    <%='checked'%>
                                                <%}%>>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Có
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" value="<%=data?data[0].ghiChu:''%>" name="ghiChu" placeholder="Ghi chú" id="floatingTextarea" style="height: 150px;"></textarea>
                                    <label for="floatingTextarea">Ghi chú</label>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </form>
                        </div>
                    </div>
                
            </div>
            <!-- Recent Sales End -->


            


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </br>
                        Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>